<a href="https://colab.research.google.com/github/tomonari-masada/course2022-intro2ml/blob/main/03_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python入門（２）

## ループ（for文を使う）

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
x = 10
for i in range(x):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3, 80, 23):
    print(i)

3
26
49
72

In [ ]:
s = 0
for i in range(1, 101):
    s += i
print(s)

5050

## アサーション

* 与えられた条件が成り立っていないとき、エラーを出す
* プログラムが期待通りの動きをしているかのチェックに使う

In [ ]:
x = int(input('非負の整数を入力してください: '))
assert x >= 0 #次スライドで説明
for a in range(x):
    if a**2 >= x:
        break
if a**2 == x:
    print(f'{a} is a square root of {x}.')

非負の整数を入力してください: -33

AssertionError: ignored

## シーケンスとしての文字列

In [ ]:
n = 0
for c in 'abracadabra':
    if c == 'a':
        n += 1
print(n)

5

## 関数定義の詳細

In [ ]:
def maxValue(x, y):
    if x > y:
        return x
    else:
        return y

In [ ]:
print(maxValue(8, 3))

8

In [ ]:
def printName(firstName, lastName, reverse):
    if reverse:
        print(lastName + ', ' + firstName)
    else:
        print(firstName + ' ' + lastName)

In [ ]:
printName('Taro', 'Yamada', True)

Yamada, Taro

In [ ]:
printName('Taro', 'Yamada')

TypeError: ignored

In [ ]:
printName('Taro', 'Yamada', reverse=False)

Taro Yamada

### デフォルト値

In [ ]:
def printName(firstName, lastName, reverse=False):
    if reverse:
        print(lastName + ', ' + firstName)
    else:
        print(firstName + ' ' + lastName)

In [ ]:
printName('Taro', 'Yamada')

Taro Yamada

### スコープ

In [ ]:
def f(x):
    y = 1
    x = x + y
    print('x =', x)
    return x

x, y = 3, 2
z = f(x)
print(f'x = {x}, y = {y}, z = {z}')

x = 4
x = 3, y = 2, z = 4

### ドキュメンテーション
* Pythonのコードのなかで、"""で囲まれた部分は、ドキュメンテーション文字列と呼ばれる
 * 例えば関数の仕様を説明するために用いる。
 * 組み込み関数helpでドキュメンテーション文字列にアクセスできる。

In [ ]:
def f(x):
    """xの値を表示する"""
    print(x)

help(f)

Help on function f in module __main__:

f(x)
    xの値を表示する

### 再帰呼出し

In [ ]:
def fact(n):
    if n == 1:
        return n
    else:
        return n * fact(n - 1)

In [ ]:
print(fact(8))

40320

In [ ]:
def fib(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

In [ ]:
for i in range(11):
    print(fib(i), end=',')
print()

1,1,2,3,5,8,13,21,34,55,89,

## 補足：print関数のend仮引数

In [ ]:
print('a', end='')
print('b', end=' ')
print('c', end='---')
print('d')
print('e')

ab c---d
e

## ファイルの読み書き

In [ ]:
f = open('text.txt', 'w')
for i in range(5):
    line = input('Enter string: ')
    f.write(line + '\n')
f.close()

Enter string: aaa
Enter string: bbb
Enter string: ccc
Enter string: ddd
Enter string: eee

In [ ]:
f = open('text.txt', 'r')
for line in f:
    print(line)
f.close()

aaa

bbb

ccc

ddd

eee

In [ ]:
f = open('text.txt', 'r')
for line in f:
    line = line.strip()
    print(line)
f.close()

aaa
bbb
ccc
ddd
eee

## Pythonの4つの構造型

* タプル
 * 文字列の一般化。不変な要素の列。
* range
 * タプルと同じく不変な要素の列。ただし整数の列。（Python 2にはなかった。）
* リスト
 * 可変なタプル
* 辞書
 * 連想配列（添え字が数字でない配列）

### タプル(tuple)

In [ ]:
t1 = ()
t2 = ('one', 2, 'three', 4)
print(t1)
print(t2)

()
('one', 2, 'three', 4)

In [ ]:
t3 = (123,)
print(t3)

(123,)

In [ ]:
t = tuple()
print(t)

()

In [ ]:
t1 = ('one', 2, 'three', 4)
t2 = (0, t1, 'five')
print(t2)
print(t1 + t2)
print((t1 + t2)[2])
print((t1 + t2)[1:4])

(0, ('one', 2, 'three', 4), 'five')
('one', 2, 'three', 4, 0, ('one', 2, 'three', 4), 'five')
three
(2, 'three', 4)

In [ ]:
t1 = (2, 4, 6, 8, 10, 12, 14, 16, 18)
t2 = (3, 6, 9, 12, 15, 18)
for e in t1:
    if e in t2:
        print(e)

6
12
18

### 範囲(range)

In [ ]:
for i in range(21, 100, 7):
    print(i)
print()
for i in range(100, 21, -7):
    print(i)

21
28
35
42
49
56
63
70
77
84
91
98

100
93
86
79
72
65
58
51
44
37
30
23

### リスト(list)

In [ ]:
l1 = []
l2 = ['one', 2, 'three', 4]
print(l1)
print(l2)

[]
['one', 2, 'three', 4]

In [ ]:
l3 = [123]
print(l3)

[123]

In [ ]:
l = list()
print(l)

[]

In [ ]:
l1 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
l2 = [3, 6, 9, 12, 15, 18]
for e in l1:
    if e in l2:
        print(e)

6
12
18

* 組み込み関数idを使うとオブジェクトの固有識別子が得られる

In [ ]:
v = ['onion', 'carrot']
f = ['apple', 'orange', 'banana']
l1 = [v, f]
l2 = [['onion', 'carrot'], ['apple', 'orange', 'banana']]
print(l1 == l2)
print(id(l1) == id(l2))

True
False

### リストのメソッド

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
l2.append(7)
print(l2)
l1.extend(l2)
print(l1)
l1.append(l2)
print(l1)

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, [4, 5, 6, 7]]

In [ ]:
l = [1,2,3,2,1,2,3,4,3,2,3,4,5]
print(l.count(1))
print(l.count(3))
print(l.index(4))
print(l.index(10))

2
4
7

ValueError: ignored

In [ ]:
l = [1,2,3,2,1,2,3,4,3,2,3,4,5]
l.sort()
print(l)
l.reverse()
print(l)

[1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5]
[5, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1]

In [ ]:
l = [3, 6, 9, 12, 15, 18]
l.insert(3, 10)
print(l)
l.remove(10)
print(l)
l.pop(4)
print(l)

[3, 6, 9, 10, 12, 15, 18]
[3, 6, 9, 12, 15, 18]
[3, 6, 9, 12, 18]

### リスト内包(list comprehension)
* 順序型のそれぞれの値に対し、特定の処理をおこない、その結果を要素として含むリストを作り出す方法

In [ ]:
l = [x**3 for x in range(2, 10, 3)]
print(l)
l = [x for x in range(-10, 10) if x%2 == 0]
print(l)
words1 = ['apple', 'ball', 'banana', 'orange']
words2 = [x for x in words1 if x.count('a') == 1]
print(words2)
words3 = [x for x in words1 for c in x if c == 'a']
print(words3) #出力がなぜそうなるか説明してみよう

[8, 125, 512]
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]
['apple', 'ball', 'orange']
['apple', 'ball', 'banana', 'banana', 'banana', 'orange']

In [ ]:
numbers = {'one':1, 'two':2, 'four':3, 'seven':7}
print(numbers)
print(numbers['four'])
numbers['seven'] = 70 #値を上書き
print(numbers['seven'])
numbers['six'] = 6 #新たに追加
print(numbers['six'])
print('six' in numbers) #キーがあるかどうか調べる

{'one': 1, 'two': 2, 'four': 3, 'seven': 7}
3
70
6
True

## 順序型に対する操作のまとめ
* `seq[i]`は順序型のi番目の要素（ただし、最初の要素は0番目）
* `len(seq)`は順序型の長さ
* `seq1 + seq2`は二つの順序型を連結する（範囲型では使用不可）
* `n * seq`は`seq`を`n`回繰り返した順序型（範囲型では使用不可）
* `seq[start:end]`は順序型のスライス
* `e in seq`は`e`が順序型の要素である場合`True`、それ以外`False`
* `e not in seq`は`e`が順序型の要素でない場合`True`、それ以外`False`
* `for e in seq`は順序型の要素を反復して取り出す

## 辞書

In [ ]:
d = dict()
print(d)

{}

In [ ]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for key in numbers :
    print(key, numbers[key])

three 3
one 1
nine 9
four 4

### 辞書のitemsメソッド

In [ ]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in numbers.items():
    print(item)

('three', 3)
('one', 1)
('nine', 9)
('four', 4)

### sorted組み込み関数

In [ ]:
t = (4, -2, 3, 10, -8, 1)
print(sorted(t))
print(type(sorted(t)))
print(t)
l = [1, -2, 8, 3, 23, 14]
print(sorted(l))
print(type(sorted(l)))
print(l)

[-8, -2, 1, 3, 4, 10]
<class 'list'>
(4, -2, 3, 10, -8, 1)
[-2, 1, 3, 8, 14, 23]
<class 'list'>
[1, -2, 8, 3, 23, 14]

### 辞書の要素をキーでソートする

In [ ]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in sorted(numbers.items()):
    print(item)

('four', 4)
('nine', 9)
('one', 1)
('three', 3)

### 辞書の要素を値でソートする

In [ ]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in sorted(numbers.items(), key=lambda x: x[1]):
    print(item)

('one', 1)
('three', 3)
('four', 4)
('nine', 9)

### getメソッド

In [ ]:
freq = dict() #空の辞書
l = ['a', 'b', 'a', 'a', 'c', 'b', 'c']
for e in l:
    freq[e] = freq.get(e, 0) + 1 #右辺がfreq[e] + 1だとエラー
print(freq)

{'a': 3, 'b': 2, 'c': 2}

## 補足：予約語lambda

In [ ]:
def applyFunc(x, func):
    return func(x)

print(applyFunc(3, lambda x: x**2))

9

## 補足：高階関数map

In [ ]:
ans = map(abs, range(-10, 11, 2))
for e in ans:
    print(e, end=' ')
print()

10 8 6 4 2 0 2 4 6 8 10

In [ ]:
for e in map(lambda x: x//2, range(-10, 11, 2)):
    print(e, end=' ')
print()

-5 -4 -3 -2 -1 0 1 2 3 4 5

## 補足：文字列のsplitメソッド

In [ ]:
text = 'Donald Trump has his sights set on Amazon. He is reportedly “obsessed” with the internet commerce giant, and as is his wont, spent Thursday morning tweeting about it. And it’s not because he loves online shopping.'
word_seq = text.split()
for word in word_seq:
    print(word)

Donald
Trump
has
his
sights
set
on
Amazon.
He
is
reportedly
“obsessed”
with
the
internet
commerce
giant,
and
as
is
his
wont,
spent
Thursday
morning
tweeting
about
it.
And
it’s
not
because
he
loves
online
shopping.

## クラスの定義

In [ ]:
class Greeter(object):

    def __init__(self, name):
        self.name = name

    def greet(self, loud=False):
        if loud:
            print(f'HELLO, {self.name.upper()}!')
        else:
            print(f'Hello, {self.name}')

### インスタンスの作成

In [ ]:
g = Greeter('Fred')

### メソッドの呼出し

In [ ]:
g.greet()
g.greet(loud=True)

Hello, Fred
HELLO, FRED!

## 課題４
* 適当な英文ニュース記事から本文だけをコピー・アンド・ペーストし、テキストファイルnews.txtを作っておく
* このテキストファイルnews.txtをopenし、読み込み、以下の処理をするコードをPythonで書く
 * 記事にどの単語が何回出現するかを、単語の出現回数の降順でソートして表示する。